﻿@{
    ViewBag.Title = "Home Page";
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom"><i class="fas fa-home"></i>&ensp;@ViewBag.Title</h2>
    </div>
</header>