﻿<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Saldo Credor Anterior:</label>
                <input class="form-control rounded text-right" mask-money ng-model="Obrigacao.FS_APURACAO_IPI.SALDO_ANTERIOR" ng-disabled="!Edicao" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>Saídas:</label>
                <input class="form-control rounded text-right" mask-money ng-model="Obrigacao.FS_APURACAO_IPI.SAIDAS_DEBITO" ng-disabled="!Edicao" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Outros Débitos:</label>
                <input class="form-control rounded text-right" mask-money ng-model="Obrigacao.FS_APURACAO_IPI.OUTROS_DEBITO" ng-disabled="!Edicao" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Entradas:</label>
                <input class="form-control rounded text-right" mask-money ng-model="Obrigacao.FS_APURACAO_IPI.ENTRADAS_CREDITO" ng-disabled="!Edicao" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Outros Créditos:</label>
                <input class="form-control rounded text-right" mask-money ng-model="Obrigacao.FS_APURACAO_IPI.OUTROS_CREDITO" ng-disabled="!Edicao" />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Saldo Devedor:</label>
                <input class="form-control rounded text-right" mask-money ng-model="Obrigacao.FS_APURACAO_IPI.SALDO_DEVEDOR" ng-disabled="!Edicao" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Saldo Credor:</label>
                <input class="form-control rounded text-right" mask-money ng-model="Obrigacao.FS_APURACAO_IPI.SALDO_CREDOR" ng-disabled="!Edicao" />
            </div>
        </div>
    </div>
</div>