﻿<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Imposto:</label>
                <select
                        class="form-control rounded"
                        ng-options="a.SIGLA for a in Impostos track by a.ID"
                        ng-model="Obrigacao.FS_APURACAO_RETIDOSs.FS_IMPOSTO"
                        ng-disabled="!Edicao">
                </select>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="form-group">
                <label>Valor do Imposto:</label>
                <input class="form-control rounded text-right" mask-money ng-model="Obrigacao.FS_APURACAO_RETIDOSs.VALOR_IMPOSTO" ng-disabled="!Edicao" />
            </div>
        </div>
        <div class="col-lg-1 text-right">
            <div class="form-group">
                <label>&emsp;&emsp;</label>
                <button type="button" class="btn btn-primary" ng-click="AdicionarRetido()" ng-disabled="!Edicao || !Obrigacao.FS_APURACAO_RETIDOSs.FS_IMPOSTO"><i class="fas fa-check"></i></button>
            </div>
        </div>
    </div>
    <br />
    <table class="table table-bordered table-striped table-hover" style="white-space:nowrap">
        <thead class="thead-light text-center">
            <tr>
                <th><i class="fa fa-cog"></i></th>
                <th>IMPOSTO</th>
                <th>VALOR DO IMPOSTO</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="retidos in Obrigacao.FS_APURACAO_RETIDOSs">
                <td class="text-center">
                    <a href="#" ng-click="ExcluirRetido($index)"><i class="fas fa-trash-alt"></i></a>
                </td>
                <td>{{retidos.FS_IMPOSTO.SIGLA}}</td>
                <td>{{retidos.VALOR_IMPOSTO}}</td>
            </tr>
        </tbody>
    </table>
</div>
