﻿@{ 
    var TamCol = (int)ViewData["Col"];
}

<div class="col-lg-@TamCol">
    <div class="form-group">
        <label class="form-group-label">Data Final:</label>
        <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text rounded-left"><i class="far fa-calendar-alt"></i></span></div>
            @Html.TextBox("DataFinal", DateTime.Today.ToShortDateString(), new { @id = "CalendFim", @class = "form-control rounded-right", @ng_model = "DataFinal" })
        </div>
    </div>
</div>

