﻿@{
    ViewBag.Title = "ControlShop (XML)";
}
<script src="~/Scripts/Front/LojasVarejo/ControlShopXML.js"></script>

<header class="page-header">
    <div class="container-fluid">
        <div class="align-items-start"><h2><i class="fas fa-code"></i>&ensp;@ViewBag.Title</h2></div>
    </div>
</header>
<br />
<div ng-controller="ctrlControlShopXML">
    <form ng-submit="EnviaFormulario()" ng-init="DataInicial='@DateTime.Today.ToShortDateString()';DataFinal='@DateTime.Today.ToShortDateString()';QtdeRegistro = '10'; RetQtdeRegistro='10'">
        <div class="container-fluid">
            @Html.Partial(
                 "~/Views/_UserControl/_Filtro.cshtml",
                 new ViewDataDictionary(ViewData) {
                    { "LocalFiltro", "ControlShopXML" }
                 }
             )
        </div>
    </form>
    <br />

    @Html.Partial("~/Views/ControlShopXML/_Resultado.cshtml")

    @Html.Partial("~/Views/ControlShopXML/_Detalhe.cshtml")

    <form name="FormControlShopXml" ng-submit="EnviarXml(FormControlShopXml.$valid)" novalidate>
        @Html.Partial("~/Views/ControlShopXML/_EnviarXML.cshtml")
    </form>
</div>