﻿/*Redimensionar Calendário(Datepicker(JQuery))*/
.ui-datepicker {
    font-size: 14px;
}
/*Datepicker sobrepor Modal Bootstrap*/
.ui-datepicker {
    z-index: 10000 !important;
}

/*Redimensionar Modal-Body(Bootstrap)*/
.modal-body {
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.modal-lg {
    max-width: 70% !important;
}

.tab-content {
    min-height: 115px;
    background-color: #fff;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

/*Alterar cursor para coluna da tabela*/
th {
    cursor: pointer;
}