﻿@{
    ViewBag.Title = "Acesso Jedi";
}
<style>
    .centro {
        position: absolute;
        text-align: center;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div class="centro">
    <div class="brand-text d-none d-lg-inline-block">
        <span><strong>ACESSO NEGADO</strong></span>
    </div>

    <br />

    <img class="rounded-circle" src="~/Content/Imagens/yoda.jpg" width="500px;/>

    <br />

    <div class="brand-text d-none d-lg-inline-block">
        <span>Acesso <strong>Jedi</strong> deve você ter. Meu jovem <strong>Padawan</strong>!</span>
    </div>

</div>
