﻿<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text rounded-left"><i class="far fa-eye"></i></span></div>
                    @Html.DropDownList(
                        "QtdeRegistro",
                        new SelectList(
                            new[]
                            {
                                new { valor = 10 },
                                new { valor = 25 },
                                new { valor = 50 },
                                new { valor = 100 },
                            },
                            "valor", "valor"
                        ),
                        new { @class = "form-control rounded-right", @ng_model = "QtdeRegistro" }
                    )
                </div>
            </div>
        </div>
        
        <div class="col-lg-7 text-center">
            <form name="FormImprimirNFe" ng-submit="ImprimirNFe(FormImprimirNFe.$valid)" novalidate>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text rounded-left"><i class="fas fa-pallet"></i></span></div>
                        <input type="text" ng-model="RefInterna" class="form-control rounded-right" required autofocus>
                        <input type="submit" hidden />
                    </div>
                </div>
            </form>
        </div>
        
        <div class="col col-lg-3">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text rounded-left"><i class="fab fa-sistrix"></i></span></div>
                    <input type="text" ng-model="Localizar" class="form-control rounded-right">
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" style="white-space:nowrap">
            <thead class="thead-light text-center">
                <tr>
                    <th>
                        <i class="fa fa-cog"></i>
                    </th>
                    <th ng-click="Ordenar('ID')">
                        ID
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='ID'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                    <th ng-click="Ordenar('ESTABELECIMENTO.ESTADO.UF')">
                        UF
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='ESTABELECIMENTO.ESTADO.UF'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                    <th ng-click="Ordenar('ESTABELECIMENTO.DESC_ESTAB')">
                        DESC ESTAB
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='ESTABELECIMENTO.DESC_ESTAB'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                    <th ng-click="Ordenar('PEDIDO')">
                        PEDIDO
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='PEDIDO'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                    <th ng-click="Ordenar('CHAVE_NFE')">
                        CHAVE NF-e
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='CHAVE_NFE'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                    <th ng-click="Ordenar('NUMERO_NF')">
                        NÚMERO
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='NUMERO_NF'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                    <th ng-click="Ordenar('SERIE_NF')">
                        SÉRIE
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='SERIE_NF'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                    <th ng-click="Ordenar('DATA_EMISSAO')">
                        DATA EMISSÃO
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='DATA_EMISSAO'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                    <th ng-click="Ordenar('EC_IMPRESSAO_NFE_RETORNOs')">
                        STATUS
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='EC_IMPRESSAO_NFE_RETORNOs'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="ImpressaoNFe in ListaImpressoesNFe | orderBy: OrdenarColuna:reverso | filter:Localizar | itemsPerPage: QtdeRegistro track by $index">
                    <td class="text-center">
                        <a href="#" ng-click=""><i class="fas fa-eye"></i></a>
                    </td>
                    <td>{{ImpressaoNFe.ID}}</td>
                    <td>{{ImpressaoNFe.ESTABELECIMENTO.ESTADO.UF}}</td>
                    <td>{{ImpressaoNFe.ESTABELECIMENTO.DESC_ESTAB}}</td>
                    <td>{{ImpressaoNFe.PEDIDO}}</td>
                    <td>{{ImpressaoNFe.CHAVE_NFE}}</td>
                    <td>{{ImpressaoNFe.NUMERO_NF}}</td>
                    <td>{{ImpressaoNFe.SERIE_NF}}</td>
                    <td>{{ImpressaoNFe.DATA_EMISSAO | date: 'dd/MM/yyyy'}}</td>
                    <td ng-repeat="Status in ImpressaoNFe.EC_IMPRESSAO_NFE_RETORNOs" ng-if="$last">
                        <i ng-class="{
                           'fas fa-check-circle text-success' : Status.STATUS_RETORNO == 'Impressão realizada com sucesso.',
                           'fas fa-times-circle text-danger'  : Status.STATUS_RETORNO != 'Impressão realizada com sucesso.',
                        }"></i>
                        {{Status.STATUS_RETORNO}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <dir-pagination-controls direction-links="true" boundary-links="true"></dir-pagination-controls>
</div>