﻿<div class="row">
    <div class="col-lg-9">
        <div class="form-group">
            <label class="form-group-label">Obrigações</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-globe"></i></span>
                </div>
                @Html.DropDownList("Obrigacoes", new MultiSelectList(ViewBag.Obrigacao, "ID", "DESCRICAO"), new { @class = "form-control selectpicker", @multiple = "multiple", data_selected_text_format = "count", @data_actions_box = "true", @data_live_search = "true", @ng_model = "Obrigacoes" })
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label class="form-group-label">Status</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-hourglass-half"></i></span>
                </div>
                @Html.DropDownList(
                    "StatusObrigacao",
                    new MultiSelectList(
                        new[]
                        {
                            new { Descricao = "ENTREGAR" },
                            new { Descricao = "ENTREGUE" },
                            new { Descricao = "RETIFICAR" },
                            new { Descricao = "RETIFICADO" }
                        },
                        "Descricao", "Descricao"
                    ),
                    new { @class = "form-control selectpicker", @multiple = "multiple", data_selected_text_format = "count", @data_actions_box = "true", @data_live_search = "true", @ng_model = "StatusObrigacao" }
                )
            </div>
        </div>
    </div>
</div>