﻿<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text rounded-left"><i class="far fa-eye"></i></span></div>
                    @Html.DropDownList(
                        "QtdeRegistro",
                        new SelectList(
                            new[]
                            {
                                new { valor = 10 },
                                new { valor = 25 },
                                new { valor = 50 },
                                new { valor = 100 },
                            },
                            "valor", "valor"
                        ),
                        new { @class = "form-control rounded-right", @ng_model = "QtdeRegistro" }
                    )
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-flex justify-content-between">
            <div><i class="fas fa-times-circle text-danger"></i> Entregar</div>
            <div><i class="fas fa-check-circle text-success"></i> Entregue</div>
            <div><i class="fas fa-exclamation-circle text-warning"></i> Retificar</div>
            <div><i class="fas fa-dot-circle text-primary"></i> Retificado</div>            
        </div>
        <div class="col col-lg-3">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text rounded-left"><i class="fab fa-sistrix"></i></span></div>
                    <input type="text" ng-model="Localizar" class="form-control rounded-right">
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" style="white-space:nowrap">
            <thead class="thead-light text-center">
                <tr>
                    <th>
                        <i class="fa fa-cog"></i>
                    </th>
                    <th ng-click="Ordenar('ID')">
                        ID
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='ID'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                    <th ng-click="Ordenar('ESTABELECIMENTO.ESTADO.UF')">
                        UF
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='ESTABELECIMENTO.ESTADO.UF'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                    <th ng-click="Ordenar('ESTABELECIMENTO.DESC_ESTAB')">
                        DESC ESTAB
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='ESTABELECIMENTO.DESC_ESTAB'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                    <th ng-click="Ordenar('DATA_APURACAO')">
                        DATA APURACAO
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='DATA_APURACAO'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                    <th ng-click="Ordenar('FS_OBRIGACAO_FISCALs')">
                        OBRIGAÇÕES FISCAIS
                        <span class="fas fa-sort" ng-show="OrdenarColuna=='FS_OBRIGACAO_FISCALs'" ng-class="{'fas fa-sort-amount-up':reverso,'fas fa-sort-amount-down':!reverso}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="obrigacao in ListaObrigacoes | orderBy: OrdenarColuna:reverso | filter:Localizar | itemsPerPage: QtdeRegistro track by $index">
                    <td class="text-center">
                        <a href="#ModalDetalhar" ng-click="Detalhar(obrigacao)" data-toggle="modal" data-target="#ModalDetalhar">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a href="#ModalDetalhar" ng-click="Editar(obrigacao)" data-toggle="modal" data-target="#ModalDetalhar">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="#" ng-click="Excluir(obrigacao, $index)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                    <td>{{obrigacao.ID}}</td>
                    <td>{{obrigacao.ESTABELECIMENTO.ESTADO.UF}}</td>
                    <td>{{obrigacao.ESTABELECIMENTO.DESC_ESTAB}}</td>
                    <td>{{obrigacao.DATA_APURACAO | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <div class="container-fluid row">
                            <div ng-repeat="obrigacoesfiscais in obrigacao.FS_OBRIGACAO_FISCALs">
                                <i ng-class="{
                                   'fas fa-times-circle text-danger'       : obrigacoesfiscais.STATUS == 'ENTREGAR',
                                   'fas fa-check-circle text-success'      : obrigacoesfiscais.STATUS == 'ENTREGUE',
                                   'fas fa-exclamation-circle text-warning': obrigacoesfiscais.STATUS == 'RETIFICAR',
                                   'fas fa-dot-circle text-primary'        : obrigacoesfiscais.STATUS == 'RETIFICADO'
                                }"></i>
                                {{obrigacoesfiscais.FS_OBRIGACAO.DESCRICAO}}
                                <span ng-hide="$last">, &ensp;</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <dir-pagination-controls direction-links="true" boundary-links="true"></dir-pagination-controls>
</div>